	:root {
	--black: #000;
	--black-04: rgba(0, 0, 0, 0.4);
	--white: #fff;
	--amethyst: #9d5cd0;
	--grey-black: #333;
	--royal-purple: #7943a4;
	--biloba-flower: #d1a9f0;
	--gallery: #ececec;
	--heliotrope: #c283f3;
	--search-form-color: rgba(255, 255, 255, 0.85);
}

/* hover */
@media(min-width: 1025px) {
	.header-top__link:hover, .header-top__link-enter:hover, .header-bottom__button:hover {
		color: var(--heliotrope);
	}

	.header-top__link-enter:hover .header-top__icon-enter path {
		fill: var(--heliotrope);
	}

	.header-bottom__button:hover .header-bottom__button-icon path {
		stroke: var(--heliotrope)
	}

	.search__form:hover .search__input {
		border-bottom-color: var(--heliotrope);
	} 

	.search__form:hover {
		cursor: url(/img/coursor-hover.svg), pointer;
	}

  .hero__btn:hover {
    border-color: var(--biloba-flower);
  }

	.swiper-button-next:hover,
	.swiper-button-prev:hover,
	.gallery__swiper .swiper-slide:hover {
		cursor: url(/img/coursor-hover.svg), pointer;
}

	.swiper-button-next:hover svg .background,
	.swiper-button-prev:hover svg .background {
		fill: var(--biloba-flower);
}

	.gallery__swiper .swiper-slide:hover::before {
		top: 25px;
		right: 25px;
		bottom: 25px;
		left: 25px;
		background-color: var(--black-05);
		background-image: url('/img/magnyfier.svg');
		background-size: 30%;
		background-position: center;
		background-repeat: no-repeat;
		outline: transparent;	
		opacity: 1;
	}

}


/* focus-visible */
.header-top__link::after, .header-top__link-enter::after, .header-bottom__button::before {
	position: absolute;
	z-index: -1;
	content: "";
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: var(--royal-purple);
	opacity: 0;
	transition: opacity .3s ease-out;
}

.hero__btn {
	position: relative;
}

.hero__btn::before {
	content: "";
	position: absolute;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: transparent;
	border: 2px solid var(--heliotrope);
	border-radius: 100px;
	opacity: 0;
}

.header-top__link.focus-visible::after, 
.header-top__link-enter.focus-visible::after, 
.header-bottom__button.focus-visible::before,
.hero__btn.focus-visible::after  {
	opacity: 1;
}

.search__input.focus-visible {
	border-bottom-color: var(--heliotrope);
} 

.hero__btn.focus-visible::before {
	opacity: 1;
}

.swiper-button-next.focus-visible svg .outline,
.swiper-button-prev.focus-visible svg .outline {
	stroke: var(--amethyst);
}

.gallery__swiper .swiper-slide.focus-visible .swiper-slide-border::before{
	opacity: 1;
}

/* active */
a:active {
	cursor: url(/img/coursor-active.svg), pointer;
}

.btn:active, .btn-reset:active {
	cursor: url(/img/coursor-active.svg), pointer;
}

.header-top__link:active, .header-top__link-enter:active, .header-bottom__button:active {
	color: var(--royal-purple);
}

.header-top__link-enter:active .header-top__icon-enter path {
	fill: var(--royal-purple);
}

.header-bottom__button:active .header-bottom__button-icon path {
	stroke: var(--royal-purple)
}

.search__form:active .search__input {
	border-bottom-color: var(--royal-purple);
} 

.hero__btn:active {
	background-color: var(--royal-purple);
	border-color: var(--biloba-flower);
 }

.swiper-button-next:active,
.swiper-button-prev:active,
.gallery__swiper .swiper-slide:active {
	cursor: url(/img/coursor-active.svg), pointer;
}

.swiper-button-next:active svg .outline,
.swiper-button-prev:active svg .outline{
	stroke: var(--amethyst);
}

.gallery__swiper .swiper-slide:active::after {
	opacity: 1;
}

